include includes/_menu
include includes/_header
include includes/_personal
include includes/_contact
include includes/_skills
include includes/_summary
include includes/_iam
include includes/_jobs
include includes/_education
include includes/_hobbies
include includes/_footer
