section#section-home.section
  .section__header.parallax
    .row
      .col-xs-12.section__header__hello
        .section__header__hello--primary Hola
        .section__header__hello--secondary ¿Quieres saber más de mi?
      .col-xs-12.section__header__btn
        button.btn--arrow.go-to(data-href="section-personal"): i(class='fas fa-arrow-down')
