- const keys = Object.keys(data)

nav(class="menu"): ul
  li(id="menu-top" class="menu-item"): a.go-to(data-href="section-home")
    i(class="fas fa-home")
    i(class="fas fa-bars")
  each key in keys
    if data[key].icon
      li(class="menu-item")
        div: span #{data[key].text}
        a.go-to(data-href="section-" + key)
          i(class=data[key].icon)
