.section__education {
  position: relative;
  height: 100vh;
  overflow: hidden;

  &--row {
    text-align: center;

    > div {
      text-align: left;
    }
  }

  &__item {
    text-align: left;
    vertical-align: top;

    .card__title {
      font-size: 1.1rem;
    }

    @media only screen and (max-width: $xs-size) {
      .card__content {
        margin-top: 0px;
        ul {
          list-style: none;
          padding-left: 0px;
        }
        li {
          font-size: .7rem;
        }
      }

      .card__title {
        padding: 5px;
      }
    }

  }

  &--bg1, &--bg2 {
    position: absolute;
    border-radius: 100%;
    transform-style: preserve-3d;
    opacity: .2;
  }

  &--bg1 {
    bottom: 10vh;
    right: 10vw;
    height: 30vh;
    width: 30vw;
    border: 50px double rgb(133, 0, 0);
    transform: perspective(12em) rotateX(230deg) rotateY(-136deg);
    box-shadow: -1px -1px 2px 0px grey;
  }

  &--bg2 {
    top: 10vh;
    left: 7vh;
    height: 40vh;
    width: 40vw;
    border: 50px double rgb(58, 158, 0);
    transform: perspective(13em) rotateX(297deg) rotateY(-124deg);
    box-shadow: inset 0px 0px 22px 6px grey;
  }

}
