.row {
  width: 100%;
  position: relative;
}

[class^=col-] {
  display: inline-block;
  overflow: hidden;
  padding: 5px;
}

@mixin grid-col($size) {
  @for $i from 1 through 12 {
    .col-#{$size}-#{$i} {
      width: calc(#{percentage(((100 / 12) * $i / 100))} - 10px);
    }
    .col-offset-#{$size}-#{$i} {
      margin-left: calc(#{percentage(((100 / 12) * $i / 100))} - 10px);
    }
  }
}

$media-size: (
  xs: "only screen and (min-width: 0px)",
  sm: "only screen and (min-width: 601px)",
  md: "only screen and (min-width: 961px)",
  lg: "only screen and (min-width: 1265px)",
  xl: "only screen and (min-width: 1905px)"
);

@each $size, $media in $media-size {
  @media #{$media} {
    @include grid-col($size);
  }
}
