.section__header {
  text-align: center;
  background-image: url("../assets/header.jpg");
  position: relative;
  z-index: 999;

  > div {
    position: absolute;
    margin-top: 37vh
  }

  &__hello {

    &--primary {
      font-size: 3rem;
    }
    &--secondary {
      font-size: 1.5rem;
    }
  }
}
