.section__hobbies {
  background-image: url("../assets/hobbies.jpg");
  position: relative;

  .btn--arrow {
    margin-top: 5vh;
  }

  &__items {
    margin-top: calc(50vh - 210px);

    .tag svg {
      font-size: 1rem;
    }
  }

  @media only screen and (max-width: $xs-size) {
    .btn--arrow {
      margin-top: 0px;
    }
  }

  @media only screen and (min-width: $sm-size + 1px) {
    &__items {
      margin-top: calc(50vh - 160px);
    }
  }
}
