.menu {
  position: fixed;
  top: 1%;
  right: 1%;
  z-index: 9999;
  width: $item-size-menu;
  height: $item-size-menu;
  display: block;

  @media
    only screen and (max-width: 768px),
    only screen and (max-height: 500px) {
    display: none;
  }

  &-item {
    list-style: none;
    width: $item-size-menu;
    height: $item-size-menu;
    background-color: $bgcolor-menu;
    transition: $transition-time-menu background-color, $transition-time-menu top;
    text-align: right;
    top: 0px;
    right: 0px;
    position: absolute;
    display: block;
    border-top: 1px solid $forecolor-menu;
    cursor: pointer;

    &:nth-child(1) {
      z-index: 100;
      border-bottom: 1px solid $forecolor-menu;
      border-top: 0px;

      a svg:nth-child(1) {
        display: none;
      }
    }

    &:hover{
      background-color: transparent;

      div {
        width: auto;
        opacity: 1;
        transform: translateX(-($item-size-menu + 5px))
      }
    }

    >div {
      width: 0px;
      text-align: right;
      position: absolute;
      right: 20px;
      height: 38px;
      padding-top: calc(50% - 18px);
      top: -1px;
      opacity: 0;
      color: $bgcolor-menu;
      transition: $transition-time-menu all;
      white-space: nowrap;
      display: inline-block;
      user-select: none;
      font-size: 1.5em;
    }

    a {
      display: inline-block;
      width: $item-size-menu;
      height: $item-size-menu;
      text-align: center;
      color: $forecolor-menu;
      transition: $transition-time-menu color;

      &:hover {
        color: $bgcolor-menu !important;
        background-color: transparent;
      }

      svg {
        margin-top: calc(50% - 12px);
        font-size: 1.5em;
      }
    }
  }

  &:hover {
    @for $i from 1 through 15 {
      .menu-item:nth-child(#{$i + 1}) {
        top: $item-size-menu * $i;
      }
    }

    .menu-item:nth-child(1) {
      a svg:nth-child(1) {
        display: inline-block;
      }
      a svg:nth-child(2) {
        display: none;
      }
    }
  }
}
