// GENERAL
$primary-color: rgb(252, 252, 252);
$secondary-color: rgb(0, 70, 81);
$text-color: rgb(43, 43, 43);
$tag-shadow-color: rgb(0, 158, 47);

// GRID
$xs-size: 601px;
$sm-size: 961px;

// MENU
$transition-time-menu: .2s;
$bgcolor-menu: rgb(65, 65, 65);
$forecolor-menu: rgb(241, 241, 241);
$item-size-menu: 60px;
